global
    log 127.0.0.1   local0
    log 127.0.0.1   local1 notice
    maxconn 4096
    debug

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  redispatch
    option  forwardfor
    option  httpclose
    option  httpchk GET /health/
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    maxconn 2000
    retries 3
    stats   enable
    stats   uri     /haproxy?stats
    stats   realm   Vumi\ Haproxy\ Statistics
    stats   auth    haproxy:stats

listen frontend 127.0.0.1:8021
    mode http
    capture cookie X-UA-map len 46
    server medium0 127.0.0.1:8024 cookie medium
    server high0 127.0.0.1:8023 cookie high
    server hrb0 127.0.0.1:8022
