global
    log 127.0.0.1   local0
    log 127.0.0.1   local1 notice
    maxconn 4096
    debug

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  redispatch
    option  forwardfor
    option  httpclose
    option  httpchk GET /health/
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    maxconn 2000
    retries 3
    stats   enable
    stats   uri     /haproxy?stats
    stats   realm   Vumi\ Haproxy\ Statistics
    stats   auth    haproxy:stats

#listen frontend 127.0.0.1:8021
#    mode http
#    capture cookie X-UA-map len 46
#    server medium0 127.0.0.1:8024 cookie medium
#    server high0 127.0.0.1:8023 cookie high
#    server hrb0 127.0.0.1:8022

frontend switch-http-in
    bind *:8020
    mode http

    acl is_mobi hdr_sub(cookie) X-UA-map=high
    acl is_zero hdr_sub(cookie) X-UA-map=medium

    use_backend mobi-backend if is_mobi
    use_backend zero-backend if is_zero

    default_backend switch-backend

backend mobi-backend
    server mobi_backend1 127.0.0.1:8021 weight 1 check maxconn 500
    server mobi_backend2 127.0.0.1:8022 weight 1 check maxconn 500
    server mobi_backend3 127.0.0.1:8023 weight 1 check maxconn 500
    server mobi_backend4 127.0.0.1:8024 weight 1 check maxconn 500
    
backend zero-backend
    server zero_backend1 127.0.0.1:9011 weight 1 check maxconn 500
    server zero_backend2 127.0.0.1:9012 weight 1 check maxconn 500
    server zero_backend3 127.0.0.1:9013 weight 1 check maxconn 500
    server zero_backend4 127.0.0.1:9014 weight 1 check maxconn 500

backend switch-backend
    server switch_backend1 127.0.0.1:8025
